In [1]:
#Dependencies 
%matplotlib notebook
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
from scipy.stats import sem
from scipy.stats import linregress
import warnings 
import json
warnings.filterwarnings('ignore')

In [2]:
# Read in csv
csv_path_1="LGA_delta_date"
csv_path_2="LGA_delta_dest"
csv_path_3="JFK_DA_delay_date_des.csv"
csv_path_4="JFK_DA_delay_des_reason.csv"
csv_path_5="EWR_DA_delay_date_des.csv"
csv_path_6="EWR_DA_delay_des_reason.csv"


delta_lga_date=pd.read_csv(csv_path_1)
delta_lga_dest=pd.read_csv(csv_path_2)
delta_jfk_date=pd.read_csv(csv_path_3)
delta_jfk_dest=pd.read_csv(csv_path_4)
delta_ewr_date=pd.read_csv(csv_path_5)
delta_ewr_dest=pd.read_csv(csv_path_6)


delta_lga_date.head()

  Date (MM/DD/YYYY) Destination Airport  Departure delay (Minutes)        Date
0            1/1/17                 ATL                       88.0  2017-01-01
1            1/1/17                 BUF                       -3.0  2017-01-01
2            1/1/17                 DEN                       16.0  2017-01-01
3            1/1/17                 DTW                      -13.0  2017-01-01
4            1/1/17                 FLL                        4.0  2017-01-01

In [3]:
LGA_DA_delay_date_des=delta_lga_date[['Date', 'Destination Airport', "Departure delay (Minutes)"]]

In [4]:
delta_lga_date['Airport Name']='LGA'
delta_lga_dest['Airport Name']='LGA'
delta_jfk_date['Airport Name']='JFK'
delta_jfk_dest['Airport Name']='JFK'
delta_ewr_date['Airport Name']='EWR'
delta_ewr_dest['Airport Name']='EWR'

In [11]:
delta_ewr_date.head()

,Date (MM/DD/YYYY),Destination Airport,Departure delay (Minutes),Airport Name
0,01/01/2017,ATL,-20.0,EWR
1,01/01/2017,DTW,-5.0,EWR
2,01/01/2017,MSP,-7.0,EWR
3,01/01/2017,SLC,-7.0,EWR
4,01/01/2018,ATL,293.0,EWR

In [6]:
final_compare_date=pd.concat([delta_lga_date, delta_jfk_date, delta_ewr_date])

In [7]:
final_compare_date

,Airport Name,Date,Date (MM/DD/YYYY),Departure delay (Minutes),Destination Airport
0,LGA,2017-01-01,1/1/17,88.0,ATL
1,LGA,2017-01-01,1/1/17,-3.0,BUF
2,LGA,2017-01-01,1/1/17,16.0,DEN
3,LGA,2017-01-01,1/1/17,-13.0,DTW
4,LGA,2017-01-01,1/1/17,4.0,FLL
...,...,...,...,...,...
3801,EWR,NaN,12/31/2017,-5.0,SLC
3802,EWR,NaN,12/31/2018,-9.0,ATL
3803,EWR,NaN,12/31/2018,-8.0,DTW
3804,EWR,NaN,12/31/2018,-3.0,MSP
3805,EWR,NaN,12/31/2018,-8.0,SLC

In [12]:
final_compare_date_1=final_compare_date.drop(['Date'], axis=1)

In [13]:
final_compare_date_1

,Airport Name,Date (MM/DD/YYYY),Departure delay (Minutes),Destination Airport
0,LGA,1/1/17,88.0,ATL
1,LGA,1/1/17,-3.0,BUF
2,LGA,1/1/17,16.0,DEN
3,LGA,1/1/17,-13.0,DTW
4,LGA,1/1/17,4.0,FLL
...,...,...,...,...
3801,EWR,12/31/2017,-5.0,SLC
3802,EWR,12/31/2018,-9.0,ATL
3803,EWR,12/31/2018,-8.0,DTW
3804,EWR,12/31/2018,-3.0,MSP
3805,EWR,12/31/2018,-8.0,SLC

In [14]:
final_compare_date_2=final_compare_date_1.dropna()
final_compare_date_2

,Airport Name,Date (MM/DD/YYYY),Departure delay (Minutes),Destination Airport
0,LGA,1/1/17,88.0,ATL
1,LGA,1/1/17,-3.0,BUF
2,LGA,1/1/17,16.0,DEN
3,LGA,1/1/17,-13.0,DTW
4,LGA,1/1/17,4.0,FLL
...,...,...,...,...
3801,EWR,12/31/2017,-5.0,SLC
3802,EWR,12/31/2018,-9.0,ATL
3803,EWR,12/31/2018,-8.0,DTW
3804,EWR,12/31/2018,-3.0,MSP
3805,EWR,12/31/2018,-8.0,SLC

In [20]:
final_compare_date_2=final_compare_date_2.groupby(['Airport Name'], as_index=False).sum()
final_compare_date_2

  Airport Name  Departure delay (Minutes)
0          EWR                   250067.0
1          JFK                  1175628.0
2          LGA                  1057482.0

In [21]:
final_compare_date_sort=final_compare_date_2.sort_values(by=['Departure delay (Minutes)'], ascending=False)
final_compare_date_sort.count()

Airport Name                 3
Departure delay (Minutes)    3
dtype: int64

In [22]:
n=final_compare_date_sort['Airport Name'].count()

In [23]:
final_compare_date_sort

  Airport Name  Departure delay (Minutes)
1          JFK                  1175628.0
2          LGA                  1057482.0
0          EWR                   250067.0

In [26]:
for i in range(n):
    
    if i == 0:
        print("Most reliable airport in NY/NJ is {}".format(final_compare_date_sort['Airport Name'][i]))
        
    if i == 1:
        print("Least reliable airport in NY/NJ is {}".format(final_compare_date_sort['Airport Name'][i]))

Most reliable airport in NY/NJ is EWR
Least reliable airport in NY/NJ is JFK

In [27]:
delta_lga_dest.head(100)

,Date (MM/DD/YYYY),Destination Airport,Scheduled elapsed time (Minutes),Actual elapsed time (Minutes),Departure delay (Minutes),Delay Carrier (Minutes),Delay Weather (Minutes),Delay National Aviation System (Minutes),Delay Security (Minutes),Delay Late Aircraft Arrival (Minutes),Date,Airport Name
0,1/1/17,ATL,1605.0,1557.0,88.0,21.0,0.0,16.0,0.0,92.0,2017-01-01,LGA
1,1/1/17,BUF,87.0,75.0,-3.0,0.0,0.0,0.0,0.0,0.0,2017-01-01,LGA
2,1/1/17,DEN,551.0,526.0,16.0,0.0,0.0,0.0,0.0,0.0,2017-01-01,LGA
3,1/1/17,DTW,480.0,426.0,-13.0,0.0,0.0,0.0,0.0,0.0,2017-01-01,LGA
4,1/1/17,FLL,1549.0,1387.0,4.0,16.0,0.0,0.0,0.0,0.0,2017-01-01,LGA
...,...,...,...,...,...,...,...,...,...,...,...,...
95,1/11/18,MSP,1400.0,1289.0,8.0,8.0,0.0,0.0,0.0,14.0,2018-01-11,LGA
96,1/11/18,MSY,223.0,215.0,101.0,5.0,0.0,10.0,0.0,78.0,2018-01-11,LGA
97,1/11/18,PBI,984.0,863.0,133.0,68.0,0.0,0.0,0.0,0.0,2018-01-11,LGA
98,1/11/18,SRQ,214.0,173.0,-4.0,0.0,0.0,0.0,0.0,0.0,2018-01-11,LGA
99,1/11/18,TPA,811.0,676.0,-5.0,0.0,0.0,0.0,0.0,0.0,2018-01-11,LGA

In [28]:
final_compare_dest=pd.concat([delta_lga_dest, delta_jfk_dest, delta_ewr_dest])
final_compare_dest.head()

,Actual elapsed time (Minutes),Airport Name,Date,Date (MM/DD/YYYY),Delay Carrier (Minutes),Delay Late Aircraft Arrival (Minutes),Delay National Aviation System (Minutes),Delay Security (Minutes),Delay Weather (Minutes),Departure delay (Minutes),Destination Airport,Scheduled elapsed time (Minutes)
0,1557.0,LGA,2017-01-01,1/1/17,21.0,92.0,16.0,0.0,0.0,88.0,ATL,1605.0
1,75.0,LGA,2017-01-01,1/1/17,0.0,0.0,0.0,0.0,0.0,-3.0,BUF,87.0
2,526.0,LGA,2017-01-01,1/1/17,0.0,0.0,0.0,0.0,0.0,16.0,DEN,551.0
3,426.0,LGA,2017-01-01,1/1/17,0.0,0.0,0.0,0.0,0.0,-13.0,DTW,480.0
4,1387.0,LGA,2017-01-01,1/1/17,16.0,0.0,0.0,0.0,0.0,4.0,FLL,1549.0

In [29]:
final_compare_dest_1=final_compare_dest.drop(['Actual elapsed time (Minutes)'], axis=1)
final_compare_dest_1.columns

Index(['Airport Name', 'Date', 'Date (MM/DD/YYYY)', 'Delay Carrier (Minutes)',
       'Delay Late Aircraft Arrival (Minutes)',
       'Delay National Aviation System (Minutes)', 'Delay Security (Minutes)',
       'Delay Weather (Minutes)', 'Departure delay (Minutes)',
       'Destination Airport', 'Scheduled elapsed time (Minutes)'],
      dtype='object')

In [30]:
final_compare_dest_2=final_compare_dest_1.drop(['Date (MM/DD/YYYY)'], axis=1)
final_compare_dest_2

,Airport Name,Date,Delay Carrier (Minutes),Delay Late Aircraft Arrival (Minutes),Delay National Aviation System (Minutes),Delay Security (Minutes),Delay Weather (Minutes),Departure delay (Minutes),Destination Airport,Scheduled elapsed time (Minutes)
0,LGA,2017-01-01,21.0,92.0,16.0,0.0,0.0,88.0,ATL,1605.0
1,LGA,2017-01-01,0.0,0.0,0.0,0.0,0.0,-3.0,BUF,87.0
2,LGA,2017-01-01,0.0,0.0,0.0,0.0,0.0,16.0,DEN,551.0
3,LGA,2017-01-01,0.0,0.0,0.0,0.0,0.0,-13.0,DTW,480.0
4,LGA,2017-01-01,16.0,0.0,0.0,0.0,0.0,4.0,FLL,1549.0
...,...,...,...,...,...,...,...,...,...,...
3801,EWR,2017-12-31,0.0,0.0,0.0,0.0,0.0,-5.0,SLC,NaN
3802,EWR,2018-12-31,0.0,0.0,18.0,0.0,0.0,-9.0,ATL,NaN
3803,EWR,2018-12-31,0.0,0.0,0.0,0.0,0.0,-8.0,DTW,NaN
3804,EWR,2018-12-31,0.0,0.0,0.0,0.0,0.0,-3.0,MSP,NaN
3805,EWR,2018-12-31,0.0,0.0,0.0,0.0,0.0,-8.0,SLC,NaN

In [31]:
final_compare_dest_2[final_compare_dest_2['Airport Name']=='JFK']

,Airport Name,Date,Delay Carrier (Minutes),Delay Late Aircraft Arrival (Minutes),Delay National Aviation System (Minutes),Delay Security (Minutes),Delay Weather (Minutes),Departure delay (Minutes),Destination Airport,Scheduled elapsed time (Minutes)
0,JFK,2017-01-01,10.0,68.0,1.0,0.0,0.0,88.0,ATL,NaN
1,JFK,2017-01-01,0.0,0.0,0.0,0.0,0.0,-2.0,AUS,NaN
2,JFK,2017-01-01,0.0,0.0,0.0,0.0,0.0,-22.0,BOS,NaN
3,JFK,2017-01-01,0.0,0.0,0.0,0.0,0.0,-8.0,DEN,NaN
4,JFK,2017-01-01,0.0,0.0,0.0,0.0,0.0,-5.0,DTW,NaN
...,...,...,...,...,...,...,...,...,...,...
25869,JFK,2018-12-31,0.0,0.0,15.0,0.0,0.0,-3.0,SJU,NaN
25870,JFK,2018-12-31,0.0,0.0,0.0,0.0,0.0,-9.0,SLC,NaN
25871,JFK,2018-12-31,0.0,0.0,0.0,0.0,0.0,-8.0,SNA,NaN
25872,JFK,2018-12-31,0.0,0.0,0.0,0.0,0.0,-3.0,STT,NaN
25873,JFK,2018-12-31,0.0,0.0,0.0,0.0,0.0,-19.0,TPA,NaN

In [32]:
final_compare_dest_2

,Airport Name,Date,Delay Carrier (Minutes),Delay Late Aircraft Arrival (Minutes),Delay National Aviation System (Minutes),Delay Security (Minutes),Delay Weather (Minutes),Departure delay (Minutes),Destination Airport,Scheduled elapsed time (Minutes)
0,LGA,2017-01-01,21.0,92.0,16.0,0.0,0.0,88.0,ATL,1605.0
1,LGA,2017-01-01,0.0,0.0,0.0,0.0,0.0,-3.0,BUF,87.0
2,LGA,2017-01-01,0.0,0.0,0.0,0.0,0.0,16.0,DEN,551.0
3,LGA,2017-01-01,0.0,0.0,0.0,0.0,0.0,-13.0,DTW,480.0
4,LGA,2017-01-01,16.0,0.0,0.0,0.0,0.0,4.0,FLL,1549.0
...,...,...,...,...,...,...,...,...,...,...
3801,EWR,2017-12-31,0.0,0.0,0.0,0.0,0.0,-5.0,SLC,NaN
3802,EWR,2018-12-31,0.0,0.0,18.0,0.0,0.0,-9.0,ATL,NaN
3803,EWR,2018-12-31,0.0,0.0,0.0,0.0,0.0,-8.0,DTW,NaN
3804,EWR,2018-12-31,0.0,0.0,0.0,0.0,0.0,-3.0,MSP,NaN
3805,EWR,2018-12-31,0.0,0.0,0.0,0.0,0.0,-8.0,SLC,NaN

In [33]:
final_compare_dest_3=final_compare_dest_2.groupby(['Airport Name', 'Destination Airport', 'Date'], as_index=False).sum()

In [34]:
final_compare_dest_3

,Airport Name,Destination Airport,Date,Delay Carrier (Minutes),Delay Late Aircraft Arrival (Minutes),Delay National Aviation System (Minutes),Delay Security (Minutes),Delay Weather (Minutes),Departure delay (Minutes),Scheduled elapsed time (Minutes)
0,EWR,ATL,2017-01-01,0.0,0.0,0.0,0.0,0.0,-20.0,0.0
1,EWR,ATL,2017-01-02,8.0,64.0,56.0,0.0,0.0,119.0,0.0
2,EWR,ATL,2017-01-03,10.0,59.0,0.0,0.0,4.0,99.0,0.0
3,EWR,ATL,2017-01-04,3.0,60.0,0.0,0.0,0.0,99.0,0.0
4,EWR,ATL,2017-01-05,9.0,38.0,0.0,0.0,0.0,44.0,0.0
...,...,...,...,...,...,...,...,...,...,...
43366,LGA,TVC,2019-08-18,0.0,0.0,0.0,0.0,0.0,32.0,139.0
43367,LGA,TVC,2019-08-23,0.0,0.0,0.0,0.0,0.0,-6.0,127.0
43368,LGA,TVC,2019-08-24,0.0,0.0,0.0,0.0,0.0,-21.0,277.0
43369,LGA,TVC,2019-08-25,0.0,0.0,0.0,0.0,0.0,-3.0,139.0
43370,LGA,TVC,2019-08-30,0.0,0.0,0.0,0.0,0.0,-9.0,127.0

In [36]:
final_compare_dest_sort=final_compare_dest_3.sort_values(by=['Departure delay (Minutes)'], ascending=False)
final_compare_dest_sort.head(10)

,Airport Name,Destination Airport,Date,Delay Carrier (Minutes),Delay Late Aircraft Arrival (Minutes),Delay National Aviation System (Minutes),Delay Security (Minutes),Delay Weather (Minutes),Departure delay (Minutes),Scheduled elapsed time (Minutes)
40152,LGA,ORD,2019-07-29,703.0,69.0,2833.0,0.0,0.0,3378.0,2394.0
30021,LGA,ATL,2017-12-08,43.0,26.0,2785.0,0.0,0.0,3133.0,2813.0
916,EWR,ATL,2019-07-06,2775.0,0.0,25.0,0.0,0.0,2851.0,0.0
14164,JFK,LAX,2019-08-22,2106.0,478.0,20.0,0.0,42.0,2811.0,0.0
30580,LGA,ATL,2019-06-20,764.0,1762.0,17.0,0.0,0.0,2638.0,2559.0
40111,LGA,ORD,2019-06-18,62.0,832.0,1866.0,0.0,0.0,2508.0,2394.0
30601,LGA,ATL,2019-07-11,241.0,1672.0,613.0,0.0,0.0,2494.0,2552.0
30328,LGA,ATL,2018-10-11,793.0,1096.0,763.0,0.0,0.0,2480.0,2374.0
40089,LGA,ORD,2019-05-27,1195.0,87.0,685.0,0.0,0.0,2439.0,1893.0
539,EWR,ATL,2018-06-24,1760.0,87.0,55.0,0.0,556.0,2406.0,0.0

In [37]:
print("Least reliable aiport by date {} and destination {} is {}".format(final_compare_dest_sort['Date'].values[0], final_compare_dest_sort['Destination Airport'].values[0],final_compare_dest_sort['Airport Name'].values[0]))

Least reliable aiport by date 2019-07-29 and destination ORD is LGA