In [2]:
#Dependencies 
%matplotlib notebook
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
from scipy.stats import sem
from scipy.stats import linregress
import warnings 
import json
warnings.filterwarnings('ignore')

In [3]:
# Read in csv
csv_path_1="lga_american_date"
csv_path_2="lga_american_dest"
csv_path_3="JFK_AA_date.csv"
csv_path_4="jfk_aa_dest.csv"
csv_path_5="EWR_AA_date.csv"
csv_path_6="EWR_AA_delay_des_reason.csv"


american_lga_date=pd.read_csv(csv_path_1)
american_lga_dest=pd.read_csv(csv_path_2)
american_jfk_date=pd.read_csv(csv_path_3)
american_jfk_dest=pd.read_csv(csv_path_4)
american_ewr_date=pd.read_csv(csv_path_5)
american_ewr_dest=pd.read_csv(csv_path_6)


american_jfk_date.head()

,Date (MM/DD/YYYY),Scheduled elapsed time (Minutes),Actual elapsed time (Minutes),Departure delay (Minutes),Delay Carrier (Minutes),Delay Weather (Minutes),Delay National Aviation System (Minutes),Delay Security (Minutes),Delay Late Aircraft Arrival (Minutes),Date
0,01/01/2017,16021.0,15485.0,1324.0,1243.0,0.0,198.0,0.0,71.0,2017-01-01
1,01/01/2018,13304.0,12787.0,1032.0,817.0,5.0,88.0,0.0,25.0,2018-01-01
2,01/01/2019,12652.0,12354.0,58.0,109.0,0.0,226.0,0.0,19.0,2019-01-01
3,01/02/2017,16023.0,16175.0,800.0,181.0,0.0,597.0,0.0,280.0,2017-01-02
4,01/02/2018,13592.0,12441.0,157.0,50.0,0.0,24.0,0.0,0.0,2018-01-02

In [3]:
american_lga_date['Airport Name']='LGA'
american_lga_dest['Airport Name']='LGA'
american_jfk_date['Airport Name']='JFK'
american_jfk_dest['Airport Name']='JFK'
american_ewr_date['Airport Name']='EWR'
american_ewr_dest['Airport Name']='EWR'

In [4]:
american_jfk_date.head()

,Date (MM/DD/YYYY),Scheduled elapsed time (Minutes),Actual elapsed time (Minutes),Departure delay (Minutes),Delay Carrier (Minutes),Delay Weather (Minutes),Delay National Aviation System (Minutes),Delay Security (Minutes),Delay Late Aircraft Arrival (Minutes),Date,Airport Name
0,01/01/2017,16021.0,15485.0,1324.0,1243.0,0.0,198.0,0.0,71.0,2017-01-01,JFK
1,01/01/2018,13304.0,12787.0,1032.0,817.0,5.0,88.0,0.0,25.0,2018-01-01,JFK
2,01/01/2019,12652.0,12354.0,58.0,109.0,0.0,226.0,0.0,19.0,2019-01-01,JFK
3,01/02/2017,16023.0,16175.0,800.0,181.0,0.0,597.0,0.0,280.0,2017-01-02,JFK
4,01/02/2018,13592.0,12441.0,157.0,50.0,0.0,24.0,0.0,0.0,2018-01-02,JFK

In [5]:
final_compare_date=pd.concat([american_lga_date, american_jfk_date, american_ewr_date])

In [6]:
final_compare_date.head()

,Actual elapsed time (Minutes),Airport Name,Date,Date (MM/DD/YYYY),Delay Carrier (Minutes),Delay Late Aircraft Arrival (Minutes),Delay National Aviation System (Minutes),Delay Security (Minutes),Delay Weather (Minutes),Departure delay (Minutes),Scheduled elapsed time (Minutes)
0,NaN,LGA,2017-01-01,1/1/2017,490.0,0.0,53.0,0.0,0.0,388.0,NaN
1,NaN,LGA,2018-01-01,1/1/2018,873.0,241.0,314.0,0.0,0.0,1517.0,NaN
2,NaN,LGA,2019-01-01,1/1/2019,36.0,140.0,76.0,0.0,0.0,-6.0,NaN
3,NaN,LGA,2017-01-10,1/10/2017,242.0,482.0,441.0,0.0,0.0,1073.0,NaN
4,NaN,LGA,2018-01-10,1/10/2018,843.0,330.0,90.0,0.0,0.0,1008.0,NaN

In [7]:
final_compare_date.columns

Index(['Actual elapsed time (Minutes)', 'Airport Name', 'Date',
       'Date (MM/DD/YYYY)', 'Delay Carrier (Minutes)',
       'Delay Late Aircraft Arrival (Minutes)',
       'Delay National Aviation System (Minutes)', 'Delay Security (Minutes)',
       'Delay Weather (Minutes)', 'Departure delay (Minutes)',
       'Scheduled elapsed time (Minutes)'],
      dtype='object')

In [8]:
final_compare_date_1=final_compare_date.drop(['Actual elapsed time (Minutes)'], axis=1)

In [9]:
final_compare_date_1

,Airport Name,Date,Date (MM/DD/YYYY),Delay Carrier (Minutes),Delay Late Aircraft Arrival (Minutes),Delay National Aviation System (Minutes),Delay Security (Minutes),Delay Weather (Minutes),Departure delay (Minutes),Scheduled elapsed time (Minutes)
0,LGA,2017-01-01,1/1/2017,490.0,0.0,53.0,0.0,0.0,388.0,NaN
1,LGA,2018-01-01,1/1/2018,873.0,241.0,314.0,0.0,0.0,1517.0,NaN
2,LGA,2019-01-01,1/1/2019,36.0,140.0,76.0,0.0,0.0,-6.0,NaN
3,LGA,2017-01-10,1/10/2017,242.0,482.0,441.0,0.0,0.0,1073.0,NaN
4,LGA,2018-01-10,1/10/2018,843.0,330.0,90.0,0.0,0.0,1008.0,NaN
...,...,...,...,...,...,...,...,...,...,...
998,EWR,2018-12-29,12/29/2018,130.0,19.0,26.0,0.0,0.0,187.0,NaN
999,EWR,2017-12-30,12/30/2017,4.0,58.0,108.0,0.0,0.0,47.0,NaN
1000,EWR,2018-12-30,12/30/2018,54.0,0.0,39.0,0.0,0.0,34.0,NaN
1001,EWR,2017-12-31,12/31/2017,8.0,64.0,81.0,0.0,0.0,61.0,NaN
1002,EWR,2018-12-31,12/31/2018,0.0,0.0,52.0,0.0,0.0,-37.0,NaN

In [10]:
final_compare_date_2=final_compare_date_1.drop(['Date (MM/DD/YYYY)'], axis=1)
final_compare_date_2

,Airport Name,Date,Delay Carrier (Minutes),Delay Late Aircraft Arrival (Minutes),Delay National Aviation System (Minutes),Delay Security (Minutes),Delay Weather (Minutes),Departure delay (Minutes),Scheduled elapsed time (Minutes)
0,LGA,2017-01-01,490.0,0.0,53.0,0.0,0.0,388.0,NaN
1,LGA,2018-01-01,873.0,241.0,314.0,0.0,0.0,1517.0,NaN
2,LGA,2019-01-01,36.0,140.0,76.0,0.0,0.0,-6.0,NaN
3,LGA,2017-01-10,242.0,482.0,441.0,0.0,0.0,1073.0,NaN
4,LGA,2018-01-10,843.0,330.0,90.0,0.0,0.0,1008.0,NaN
...,...,...,...,...,...,...,...,...,...
998,EWR,2018-12-29,130.0,19.0,26.0,0.0,0.0,187.0,NaN
999,EWR,2017-12-30,4.0,58.0,108.0,0.0,0.0,47.0,NaN
1000,EWR,2018-12-30,54.0,0.0,39.0,0.0,0.0,34.0,NaN
1001,EWR,2017-12-31,8.0,64.0,81.0,0.0,0.0,61.0,NaN
1002,EWR,2018-12-31,0.0,0.0,52.0,0.0,0.0,-37.0,NaN

In [11]:
final_compare_date_2=final_compare_date_2.groupby(['Airport Name'], as_index=False).sum()
final_compare_date_2

,Airport Name,Delay Carrier (Minutes),Delay Late Aircraft Arrival (Minutes),Delay National Aviation System (Minutes),Delay Security (Minutes),Delay Weather (Minutes),Departure delay (Minutes),Scheduled elapsed time (Minutes)
0,EWR,54674.0,140670.0,72213.0,333.0,13493.0,212842.0,0.0
1,JFK,188675.0,178445.0,246378.0,1297.0,28142.0,474858.0,12998864.0
2,LGA,173649.0,365610.0,211593.0,1018.0,55642.0,550028.0,0.0

In [12]:
final_compare_date_3=final_compare_date_2.drop(['Scheduled elapsed time (Minutes)'], axis=1)
final_compare_date_3

,Airport Name,Delay Carrier (Minutes),Delay Late Aircraft Arrival (Minutes),Delay National Aviation System (Minutes),Delay Security (Minutes),Delay Weather (Minutes),Departure delay (Minutes)
0,EWR,54674.0,140670.0,72213.0,333.0,13493.0,212842.0
1,JFK,188675.0,178445.0,246378.0,1297.0,28142.0,474858.0
2,LGA,173649.0,365610.0,211593.0,1018.0,55642.0,550028.0

In [13]:
final_compare_date_sort=final_compare_date_3.sort_values(by=['Departure delay (Minutes)'], ascending=False)
final_compare_date_sort.count()

Airport Name                                3
Delay Carrier (Minutes)                     3
Delay Late Aircraft Arrival (Minutes)       3
Delay National Aviation System (Minutes)    3
Delay Security (Minutes)                    3
Delay Weather (Minutes)                     3
Departure delay (Minutes)                   3
dtype: int64

In [14]:
n=final_compare_date_sort['Airport Name'].count()

In [15]:
final_compare_date_sort

,Airport Name,Delay Carrier (Minutes),Delay Late Aircraft Arrival (Minutes),Delay National Aviation System (Minutes),Delay Security (Minutes),Delay Weather (Minutes),Departure delay (Minutes)
2,LGA,173649.0,365610.0,211593.0,1018.0,55642.0,550028.0
1,JFK,188675.0,178445.0,246378.0,1297.0,28142.0,474858.0
0,EWR,54674.0,140670.0,72213.0,333.0,13493.0,212842.0

In [16]:
for i in range(n):
    
    if i == 0:
        print("Most reliable airport in NY/NJ is {}".format(final_compare_date_sort['Airport Name'][i]))
        
    if i == 2:
        print("Least reliable airport in NY/NJ is {}".format(final_compare_date_sort['Airport Name'][i]))

Most reliable airport in NY/NJ is EWR
Least reliable airport in NY/NJ is LGA

In [17]:
american_lga_dest.head(100)

,Date (MM/DD/YYYY),Destination Airport,Departure delay (Minutes),Delay Carrier (Minutes),Delay Weather (Minutes),Delay National Aviation System (Minutes),Delay Security (Minutes),Delay Late Aircraft Arrival (Minutes),Date,Airport Name
0,1/1/2017,ATL,-5.0,0.0,0.0,0.0,0.0,0.0,2017-01-01,LGA
1,1/1/2017,BOS,-16.0,0.0,0.0,0.0,0.0,0.0,2017-01-01,LGA
2,1/1/2017,CLT,392.0,388.0,0.0,36.0,0.0,0.0,2017-01-01,LGA
3,1/1/2017,DCA,-4.0,0.0,0.0,0.0,0.0,0.0,2017-01-01,LGA
4,1/1/2017,DFW,-30.0,0.0,0.0,17.0,0.0,0.0,2017-01-01,LGA
...,...,...,...,...,...,...,...,...,...,...
95,1/12/2019,ATL,-4.0,0.0,0.0,0.0,0.0,0.0,2019-01-12,LGA
96,1/12/2019,BOS,-16.0,0.0,0.0,0.0,0.0,0.0,2019-01-12,LGA
97,1/12/2019,CLT,0.0,0.0,0.0,0.0,0.0,38.0,2019-01-12,LGA
98,1/12/2019,DFW,-33.0,0.0,0.0,0.0,0.0,0.0,2019-01-12,LGA
99,1/12/2019,EGE,-8.0,0.0,0.0,0.0,0.0,0.0,2019-01-12,LGA

In [18]:
final_compare_dest=pd.concat([american_lga_dest, american_jfk_dest, american_ewr_dest])
final_compare_dest.head()

,Actual elapsed time (Minutes),Airport Name,Date,Date (MM/DD/YYYY),Delay Carrier (Minutes),Delay Late Aircraft Arrival (Minutes),Delay National Aviation System (Minutes),Delay Security (Minutes),Delay Weather (Minutes),Departure delay (Minutes),Destination Airport,Scheduled elapsed time (Minutes)
0,NaN,LGA,2017-01-01,1/1/2017,0.0,0.0,0.0,0.0,0.0,-5.0,ATL,NaN
1,NaN,LGA,2017-01-01,1/1/2017,0.0,0.0,0.0,0.0,0.0,-16.0,BOS,NaN
2,NaN,LGA,2017-01-01,1/1/2017,388.0,0.0,36.0,0.0,0.0,392.0,CLT,NaN
3,NaN,LGA,2017-01-01,1/1/2017,0.0,0.0,0.0,0.0,0.0,-4.0,DCA,NaN
4,NaN,LGA,2017-01-01,1/1/2017,0.0,0.0,17.0,0.0,0.0,-30.0,DFW,NaN

In [30]:
final_compare_dest_1=final_compare_dest.drop(['Actual elapsed time (Minutes)'], axis=1)
final_compare_dest_1.columns

Index(['Airport Name', 'Date', 'Date (MM/DD/YYYY)', 'Delay Carrier (Minutes)',
       'Delay Late Aircraft Arrival (Minutes)',
       'Delay National Aviation System (Minutes)', 'Delay Security (Minutes)',
       'Delay Weather (Minutes)', 'Departure delay (Minutes)',
       'Destination Airport', 'Scheduled elapsed time (Minutes)'],
      dtype='object')

In [31]:
final_compare_dest_2=final_compare_dest_1.drop(['Date (MM/DD/YYYY)'], axis=1)
final_compare_dest_2

,Airport Name,Date,Delay Carrier (Minutes),Delay Late Aircraft Arrival (Minutes),Delay National Aviation System (Minutes),Delay Security (Minutes),Delay Weather (Minutes),Departure delay (Minutes),Destination Airport,Scheduled elapsed time (Minutes)
0,LGA,2017-01-01,0.0,0.0,0.0,0.0,0.0,-5.0,ATL,NaN
1,LGA,2017-01-01,0.0,0.0,0.0,0.0,0.0,-16.0,BOS,NaN
2,LGA,2017-01-01,388.0,0.0,36.0,0.0,0.0,392.0,CLT,NaN
3,LGA,2017-01-01,0.0,0.0,0.0,0.0,0.0,-4.0,DCA,NaN
4,LGA,2017-01-01,0.0,0.0,17.0,0.0,0.0,-30.0,DFW,NaN
...,...,...,...,...,...,...,...,...,...,...
5009,EWR,2018-12-31,0.0,0.0,0.0,0.0,0.0,-13.0,CLT,NaN
5010,EWR,2018-12-31,0.0,0.0,0.0,0.0,0.0,-4.0,DFW,NaN
5011,EWR,2018-12-31,0.0,0.0,0.0,0.0,0.0,-3.0,MIA,NaN
5012,EWR,2018-12-31,0.0,0.0,0.0,0.0,0.0,-12.0,ORD,NaN
5013,EWR,2018-12-31,0.0,0.0,52.0,0.0,0.0,-5.0,PHX,NaN

In [44]:
final_compare_dest_2[final_compare_dest_2['Airport Name']=='JFK']

,Airport Name,Date,Delay Carrier (Minutes),Delay Late Aircraft Arrival (Minutes),Delay National Aviation System (Minutes),Delay Security (Minutes),Delay Weather (Minutes),Departure delay (Minutes),Destination Airport,Scheduled elapsed time (Minutes)
0,JFK,2017-01-01,0.0,0.0,0.0,0.0,0.0,-11.0,AUS,525.0
1,JFK,2017-01-01,0.0,0.0,0.0,0.0,0.0,-8.0,BOS,158.0
2,JFK,2017-01-01,0.0,0.0,0.0,0.0,0.0,-11.0,CLT,776.0
3,JFK,2017-01-01,0.0,0.0,0.0,0.0,0.0,12.0,DCA,91.0
4,JFK,2017-01-01,0.0,0.0,0.0,0.0,0.0,-4.0,DFW,251.0
...,...,...,...,...,...,...,...,...,...,...
14569,JFK,2018-12-31,55.0,0.0,5.0,0.0,0.0,50.0,ORD,358.0
14570,JFK,2018-12-31,0.0,0.0,24.0,0.0,0.0,-3.0,PHX,1081.0
14571,JFK,2018-12-31,0.0,1.0,37.0,0.0,0.0,1.0,SAN,763.0
14572,JFK,2018-12-31,0.0,0.0,0.0,0.0,0.0,1.0,SEA,394.0
14573,JFK,2018-12-31,0.0,0.0,0.0,0.0,0.0,-18.0,SFO,1228.0

In [54]:
final_compare_dest_2

,Airport Name,Date,Delay Carrier (Minutes),Delay Late Aircraft Arrival (Minutes),Delay National Aviation System (Minutes),Delay Security (Minutes),Delay Weather (Minutes),Departure delay (Minutes),Destination Airport,Scheduled elapsed time (Minutes)
0,LGA,2017-01-01,0.0,0.0,0.0,0.0,0.0,-5.0,ATL,NaN
1,LGA,2017-01-01,0.0,0.0,0.0,0.0,0.0,-16.0,BOS,NaN
2,LGA,2017-01-01,388.0,0.0,36.0,0.0,0.0,392.0,CLT,NaN
3,LGA,2017-01-01,0.0,0.0,0.0,0.0,0.0,-4.0,DCA,NaN
4,LGA,2017-01-01,0.0,0.0,17.0,0.0,0.0,-30.0,DFW,NaN
...,...,...,...,...,...,...,...,...,...,...
5009,EWR,2018-12-31,0.0,0.0,0.0,0.0,0.0,-13.0,CLT,NaN
5010,EWR,2018-12-31,0.0,0.0,0.0,0.0,0.0,-4.0,DFW,NaN
5011,EWR,2018-12-31,0.0,0.0,0.0,0.0,0.0,-3.0,MIA,NaN
5012,EWR,2018-12-31,0.0,0.0,0.0,0.0,0.0,-12.0,ORD,NaN
5013,EWR,2018-12-31,0.0,0.0,52.0,0.0,0.0,-5.0,PHX,NaN

In [55]:
final_compare_dest_3=final_compare_dest_2.groupby(['Airport Name', 'Destination Airport', 'Date'], as_index=False).sum()

In [56]:
final_compare_dest_3

,Airport Name,Destination Airport,Date,Delay Carrier (Minutes),Delay Late Aircraft Arrival (Minutes),Delay National Aviation System (Minutes),Delay Security (Minutes),Delay Weather (Minutes),Departure delay (Minutes),Scheduled elapsed time (Minutes)
0,EWR,CLT,2017-01-01,89.0,0.0,0.0,0.0,0.0,125.0,0.0
1,EWR,CLT,2017-01-02,15.0,27.0,5.0,0.0,0.0,11.0,0.0
2,EWR,CLT,2017-01-03,27.0,113.0,3.0,0.0,0.0,140.0,0.0
3,EWR,CLT,2017-01-04,22.0,95.0,3.0,0.0,0.0,140.0,0.0
4,EWR,CLT,2017-01-05,9.0,51.0,10.0,0.0,0.0,70.0,0.0
...,...,...,...,...,...,...,...,...,...,...
28852,LGA,RDU,2019-09-26,0.0,224.0,2.0,0.0,0.0,252.0,0.0
28853,LGA,RDU,2019-09-27,0.0,0.0,0.0,0.0,0.0,-14.0,0.0
28854,LGA,RDU,2019-09-28,1.0,31.0,31.0,0.0,0.0,29.0,0.0
28855,LGA,RDU,2019-09-29,0.0,0.0,0.0,0.0,0.0,1.0,0.0
28856,LGA,RDU,2019-09-30,0.0,35.0,0.0,0.0,0.0,16.0,0.0

In [104]:
final_compare_dest_sort=final_compare_dest_3.sort_values(by=['Departure delay (Minutes)'], ascending=False)

In [105]:
final_compare_dest_sort.head(10)

,Airport Name,Destination Airport,Date,Delay Carrier (Minutes),Delay Late Aircraft Arrival (Minutes),Delay National Aviation System (Minutes),Delay Security (Minutes),Delay Weather (Minutes),Departure delay (Minutes),Scheduled elapsed time (Minutes)
26841,LGA,ORD,2018-11-15,26.0,1698.0,77.0,0.0,396.0,2213.0,0.0
23665,LGA,DFW,2018-08-03,151.0,1540.0,4.0,0.0,355.0,2144.0,0.0
13204,JFK,MIA,2017-03-28,1269.0,685.0,0.0,0.0,0.0,2008.0,1222.0
11947,JFK,LAX,2018-11-15,0.0,161.0,63.0,0.0,1769.0,1927.0,5039.0
26852,LGA,ORD,2018-11-26,705.0,180.0,1309.0,0.0,10.0,1825.0,0.0
26350,LGA,ORD,2017-07-12,0.0,845.0,368.0,0.0,864.0,1775.0,0.0
23940,LGA,DFW,2019-05-05,1603.0,140.0,31.0,0.0,0.0,1717.0,0.0
13698,JFK,MIA,2018-08-04,1189.0,342.0,53.0,0.0,0.0,1570.0,1197.0
12212,JFK,LAX,2019-08-07,626.0,875.0,111.0,0.0,0.0,1538.0,3712.0
25704,LGA,MIA,2018-08-03,64.0,796.0,49.0,0.0,545.0,1530.0,0.0

In [111]:
print("Least reliable aiport by date {} and destination {} is {}".format(final_compare_dest_sort['Date'].values[0], final_compare_dest_sort['Destination Airport'].values[0],final_compare_dest_sort['Airport Name'].values[0]))

Least reliable aiport by date 2018-11-15 and destination ORD is LGA